<html>
    <head>
        {{ form.media.css }}
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}multiselect/css/themes/smoothness/jquery-ui-1.7.1.custom.css" />
    </head>
    <body>

        <h1>Form</h1>

        {{ form.as_ul }}

        <h1>Model Form</h1>
        {{ modelform.as_ul }}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
        {{ form.media.js }}
    </body>
</html>
